@import url("https://fonts.googleapis.com/css?family=Exo|Megrim|Orbitron|Teko");
/* default font for the AF App */

body {
  font-family: 'Teko', sans-serif;
  /* for the fixed footer not to overlap content */
  padding-bottom: 40px;
  background-color: #000;
}

/* Atomic Films header font */

.af-header-font {
  font-family: 'Exo', cursive;
}

/* --------------- layout.pug CSS -------------- */

.af-atomicfilms-color {
  background-color:
}

.brand-text {
  font-family: 'Megrim', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: #DAA520;
}

a.nav-link {
  font-size: 1.5rem;
  color: #fff;
}

i.fa-film {
  padding: 8px 0px 0px 8px;
  color: #000;
}

.af-footer-text {
  font-family: 'Orbitron', cursive;
  font-size: 1rem;
  color: goldenrod;
  padding: 10px 15px 10px 0px;
}

/* --------------- movie-list.pug CSS -------------- */

.af-sb-color {
  color: #3181BF;
}

/* --------------- movie-details.pug CSS -------------- */

p.lead {
  color: firebrick;
  font-size: 1.5rem;
}

p.card-text {
  color: #fff;
  font-size: 1.5rem;
}

#movieCard {
  background-color: #000;
}