@import url("https://fonts.googleapis.com/css?family=Bungee+Outline|Carter+One|Catamaran|Chathura|Jura|Just+Another+Hand|Megrim|Open+Sans+Condensed:300|Passion+One");


/* Body section */
body {
  padding-top: 1px;
  /*padding-bottom: 40px;*/
}

/* Atomic-Films brand section */
a.atomicFilms-brand {
  font-family: 'Megrim', sans-serif;
  font-size: 3.5rem;
  font-weight: bolder;
  color: #bf7d00;
}

#afBrandMotto {
  background-color: #000000;
}

p.af-header-font {
  color: #dba133;
  font-family: 'Open Sans Condensed', cursive;
  font-size: 25px;
  margin-left: 250px;
}

/* Navbar section */
nav.navbar {
  background-color: #000000;
}

#mainNavbar li.nav-item a {
  color: #4c9a9a;
  font-family: 'Jura', sans-serif;
  font-size: 1.5rem;
}

#mainNavbar li.nav-item a:hover {
  color: #e5e1ca;
}

#mainNavbar li.nav-item a:active {
  color: #e86404;
}

li {
  display: inline-block;
}


/* Footer section */

footer {
  background-color: #000000;
}

.af-footer-text {
  font-family: 'Passion One', sans-serif;
  color: #4c9a9a;
}

footer form.form-inline {
  font-family: 'Jura', sans-serif;
  color: #4c9a9a;
}
