extends layout

block content
  br
  br
  .container
    //- Background image
    img.responsive(src="atomic-films/app/public/images/fullTheatre.jpg" alt="Full Theatre")
    h2.text-left
      | Feature Films
  #movieCarousel.carousel.slide.bg-inverse.w-50.ml-auto.mr-auto(data-ride="carousel")
    ol.carousel-indicators
      li.active(data-target="#movieCarousel", data-slide-to="0")
      li(data-target="#movieCarousel", data-slide-to="1")
      li(data-target="#movieCarousel", data-slide-to="2")
    .carousel-inner(role="listbox")
      .carousel-item.active
        img.d-block.w-100(src="atomic-films/app/public/images/moviePoster1.jpg" alt="Movie Poster #1")
      .carousel-item
        img.d-block.w-100(src="atomic-films/app/public/images/moviePoster2.jpg" alt="Movie Poster #2")
      .carousel-item
        img.d-block.w-100(src="atomic-films/app/public/images/moviePoster3.jpg" alt="Movie Poster #3")
    a.carousel-control-prev(href='#movieCarousel', role='button', data-slide='prev')
      span.carousel-control-prev-icon(aria-hidden='true')
      span.sr-only
        | Previous
    a.carousel-control-next(href='#movieCarousel', role='button', data-slide='next')
      span.carousel-control-next-icon(aria-hidden='true')
      span.sr-only
        | Next
  
  br
  br
  footer.container-fluid.text-center
    form.form-inline
      | Get deals:
      input.form-control(type="email", size="50", placeholder="Email Address")
      button.btn.btn-primary(type="button") Sign Up
      