doctype html
html
  head
    //- shrink-to-fit=no is required for the Safari browser
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title= title
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous")
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
    link(rel="stylesheet", href="/stylesheets/style.css")
    
  body
    //- Atomic Films Brand Section
    .container-fluid#afBrandMotto
      a.atomicFilms-brand(href="/")
        .atomicFilms-brand-text.float-left Atomic Films
          //- Movie Projector icon credit and creation by Icons8 => https://icons8.com/icon/set/movie/all
          img(src="https://png.icons8.com/movie-projector/color/48", title="Movie Projector", width="48", height="48")
      .row.py-3
        p.lead.pl-4.pt-2.af-header-font Let it be a classic entertainment night!
    br
    //- Navbar Nav Items
    nav.navbar.navbar-expand-md.navbar-dark.bg-
      .container  
        button.navbar-toggler(type="button", data-toggle="collapse", data-target="#mainNavbar")
          span.navbar-toggler-icon
        .collapse.navbar-collapse#mainNavbar
          ul.nav.ml-auto
            li.nav-item
              a.nav-link(href="/movies") Details
            li.nav-item
              a.nav-link(href="/movies/reserve") Reserve
            li.nav-item
              a.nav-link(href="/about") Contact Us
    //- End Navbar
     
    .container
      block content

      script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous")
      script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous")
      
      //- Footer Section
      footer.fixed-bottom.text-center
        .container
          a.af-footer-text(href="/") &copy;2017 Atomic Films