extends layout

block content
  //- Movie Synopsis Section
  section.jumbotron.text-center
    .container
      h1.jumbotron-heading-text= pageHeader.heading
      br
      br
      p.lead.text-white= pageHeader.tagline
    br
    br
    //- Add ".movie" above the .container below to get rid of coloured background.
    .container
      .row
        .card.w-100.bg-secondary
          br
          h4.card-title-text.text-warning.text-center
          img.img-responsive.mx-auto.d-block(src="./images/mp1.jpg", style="width:40%")
          br
          p.card-text.text-justify-content-center
          br
          .container
            .btn-toolbar-justify-content-center(role="toolbar", aria-label="Show Times Toolbar")
              .btn-group.mr-2(role="group", aria-label="First Show Time")
                a.btn-link(href="/movies/reserve")
                  button.btn.btn-dark(type="button") 11:00 A.M.
              .btn-group.mr-2(role="group", aria-label="Second Show Time")
                a.btn-link(href="/movies/reserve")
                  button.btn.btn-dark(type="button") 2:00 P.M.
              .btn-group.mr-2(role="group", aria-label="Third Show Time")
                a.btn-link(href="/movies/reserve")
                  button.btn.btn-dark(type="button") 5:00 P.M.
          br
      br
      br
      .row
        .card.w-100.bg-secondary
          br
          h4.card-title-text.text-warning.text-center
          img.img-responsive.mx-auto.d-block(src="./images/mp2.jpg", style="width:40%")
          br
          p.card-text.text-justify-content-center
          br
          .container
            .btn-toolbar-justify-content-center(role="toolbar", aria-label="Show Times Toolbar")
              .btn-group.mr-2(role="group", aria-label="First Show Time")
                a.btn-link(href="/movies/reserve")
                  button.btn.btn-dark(type="button") 11:00 A.M.
              .btn-group.mr-2(role="group", aria-label="Second Show Time")
                a.btn-link(href="/movies/reserve")
                  button.btn.btn-dark(type="button") 2:00 P.M.
              .btn-group.mr-2(role="group", aria-label="Third Show Time")
                a.btn-link(href="/movies/reserve")
                  button.btn.btn-dark(type="button") 5:00 P.M.
          br
      br
      br
      .row
        .card.w-100.bg-secondary
          br
          h4.card-title-text.text-warning.text-center
          img.img-responsive.mx-auto.d-block(src="./images/mp3.jpg", style="width:40%")
          br
          p.card-text.text-justify-content-center
          br
          .container
            .btn-toolbar-justify-content-center(role="toolbar", aria-label="Show Times Toolbar")
              .btn-group.mr-2(role="group", aria-label="First Show Time")
                a.btn-link(href="/movies/reserve")
                  button.btn.btn-dark(type="button") 12:00 A.M.
              .btn-group.mr-2(role="group", aria-label="Second Show Time")
                a.btn-link(href="/movies/reserve")
                  button.btn.btn-dark(type="button") 3:00 P.M.
              .btn-group.mr-2(role="group", aria-label="Third Show Time")
                a.btn-link(href="/movies/reserve")
                  button.btn.btn-dark(type="button") 6:00 P.M.
          br
      br
      br
      .row
        .card.w-100.bg-secondary
          br
          h4.card-title-text.text-warning.text-center
          img.img-responsive.mx-auto.d-block(src="./images/mp4.jpg", style="width:40%")
          br
          p.card-text.text-justify-content-center
          br
          .container
            .btn-toolbar-justify-content-center(role="toolbar", aria-label="Show Times Toolbar")
              .btn-group.mr-2(role="group", aria-label="First Show Time")
                a.btn-link(href="/movies/reserve")
                  button.btn.btn-dark(type="button") 1:00 P.M.
              .btn-group.mr-2(role="group", aria-label="Second Show Time")
                a.btn-link(href="/movies/reserve")
                  button.btn.btn-dark(type="button") 4:00 P.M.
              .btn-group.mr-2(role="group", aria-label="Third Show Time")
                a.btn-link(href="/movies/reserve")
                  button.btn.btn-dark(type="button") 7:00 P.M.
          br
      br
      br
      .row
        .card.w-100.bg-secondary
          br
          h4.card-title-text.text-warning.text-center
          img.img-resonsive.mx-auto.d-block(src="./images/mp5.jpg", style="width:40%")
          br
          p.card-text.text-justify-content-center
          br
          .container
            .btn-toolbar-justify-content-center(role="toolbar", aria-label="Show Times Toolbar")
              .btn-group.mr-2(role="group", aria-label="First Show Time")
                a.btn-link(href="/movies/reserve")
                  button.btn.btn-dark(type="button") 2:00 P.M.
              .btn-group.mr-2(role="group", aria-label="Second Show Time")
                a.btn-link(href="/movies/reserve")
                  button.btn.btn-dark(type="button") 5:00 P.M.
              .btn-group.mr-2(role="group", aria-label="Third Show Time")
                a.btn-link(href="/movies/reserve")
                  button.btn.btn-dark(type="button") 8:00 P.M.
          br
      br
      br
      .row
        .card.w-100.bg-secondary
          br
          h4.card-title-text.text-warning.text-center
          img.img-responsive.mx-auto.d-block(src="./images/mp6.jpg", style="width:40%")
          br
          p.card-text.text-justify-content-center
          br
          .container
            .btn-toolbar-justify-content-center(role="toolbar", aria-label="Show Times Toolbar")
              .btn-group.mr-2(role="group", aria-label="First Show Time")
                a.btn-link(href="/movies/reserve")
                  button.btn.btn-dark(type="button") 3:00 P.M.
              .btn-group.mr-2(role="group", aria-label="Second Show Time")
                a.btn-link(href="/movies/reserve")
                  button.btn.btn-dark(type="button") 6:00 P.M.
              .btn-group.mr-2(role="group", aria-label="Third Show Time")
                a.btn-link(href="/movies/reserve")
                  button.btn.btn-dark(type="button") 9:00 P.M.
          br
      br
      br
      .row
        .card.w-100.bg-secondary
          br
          h4.card-title-text.text-warning.text-center
          img.img-responsive.mx-auto.d-block(src="./images/mp11.jpg", style="width:40%")
          br
          p.card-text.text-justify-content-center
          br
          .container
            .btn-toolbar-justify-content-center(role="toolbar", aria-label="Show Times Toolbar")
              .btn-group.mr-2(role="group", aria-label="First Show Time")
                a.btn-link(href="/movies/reserve")
                  button.btn.btn-dark(type="button") 4:00 P.M.
              .btn-group.mr-2(role="group", aria-label="Second Show Time")
                a.btn-link(href="/movies/reserve")
                  button.btn.btn-dark(type="button") 7:00 P.M.
              .btn-group.mr-2(role="group", aria-label="Third Show Time")
                a.btn-link(href="/movies/reserve")
                  button.btn.btn-dark(type="button") 10:00 P.M.
          br
      br
      br
      .row
        .card.w-100.bg-secondary
          br
          h4.card-title-text.text-warning.text-center
          img.img-responsive.mx-auto.d-block(src="./images/mp12.jpg", style="width:40%")
          br
          p.card-text.text-justify-content-center
          br
          .container
            .btn-toolbar-justify-content-center(role="toolbar", aria-label="Show Times Toolbar")
              .btn-group.mr-2(role="group", aria-label="First Show Time")
                a.btn-link(href="/movies/reserve")
                  button.btn.btn-dark(type="button") 3:00 P.M.
              .btn-group.mr-2(role="group", aria-label="Second Show Time")
                a.btn-link(href="/movies/reserve")
                  button.btn.btn-dark(type="button") 6:00 P.M.
              .btn-group.mr-2(role="group", aria-label="Third Show Time")
                a.btn-link(href="/movies/reserve")
                  button.btn.btn-dark(type="button") 9:00 P.M.
          br
      br
      br
      .row
        .card.w-100.bg-secondary
          br
          h4.card-title-text.text-warning.text-center
          img.img-responsive.mx-auto.d-block(src="./images/mp9.jpg", style="width:40%")
          br
          p.card-text.text-justify-content-center
          br
          .container
            .btn-toolbar-justify-content-center(role="toolbar", aria-label="Show Times Toolbar")
              .btn-group.mr-2(role="group", aria-label="First Show Time")
                a.btn-link(href="/movies/reserve")
                  button.btn.btn-dark(type="button") 11:30 A.M.
              .btn-group.mr-2(role="group", aria-label="Second Show Time")
                a.btn-link(href="/movies/reserve")
                  button.btn.btn-dark(type="button") 2:30 P.M.
              .btn-group.mr-2(role="group", aria-label="Third Show Time")
                a.btn-link(href="/movies/reserve")
                  button.btn.btn-dark(type="button") 6:30 P.M.
          br
        
        


//-
  .container
    .row
      .col-sm-4
        .panel.panel-primary
          .panel-heading Viva Las Vegas
            .panel-body
              img.img-responsive(src="./images/moviePoster1.jpg", style="width:100%", alt="Movie Poster #4")
            .panel-footer Daily Show Times: 11:00am, 2:00pm, 5:00pm
      br
      .col-sm-4
        .panel.panel-primary
          .panel-heading Paradise Canyon
            .panel-body
              img.img-responsive(src="./images/moviePoster2.jpg", style="width:100%", alt="Movie Poster #4")
            .panel-footer Daily Show Times: 11:00am, 2:00pm, 5:00pm
      br
      .col-sm-4
        .panel.panel-primary
          .panel-heading Guys And Dolls
            .panel-body
              img.img-responsive(src="./images/moviePoster3.jpg", style="width:100%", alt="Movie Poster #4")
            .panel-footer Daily Show Times: 11:00am, 2:00pm, 5:00pm
      br
      .col-sm-4
        .panel.panel-primary
          .panel-heading The Thing
            .panel-body
              img.img-responsive(src="./images/moviePoster4.jpg", style="width:100%", alt="Movie Poster #4")
            .panel-footer Daily Show Times: 11:00am, 2:00pm, 5:00pm
      br
      .col-sm-4
        .panel.panel-danger
          .panel-heading Pirates Of Penzance
            .panel-body
              img.img-responsive(src="./images/moviePoster5.jpg", style='width:100%', alt="Movie Poster #5")
            .panel-footer Daily Show Times: 12:00pm, 2:00pm, 4:30pm
      br
      .col-sm-4
        .panel.panel-success
          .panel-heading Dragstrip Riot
            .panel-body
              img.img-responsive(src="./images/moviePoster6.jpg", style='width:100%', alt="Movie Poster #6")
            .panel-footer Daily Show Times: 1:00pm, 4:00pm, 7:00pm
  br
  br
  .container
    .row
      .col-sm-4
        .panel.panel-primary
          .panel-heading La Dolce Vita
            .panel-body
              img.img-responsive(src="./images/moviePoster7.jpg", style='width:100%', alt="Movie Poster #7")
            .panel-footer Daily Show Times: 6:00pm, 9:00pm 11:30pm
      br
      .col-sm-4
        .panel.panel-primary
          .panel-heading Vertigo
            .panel-body
              img.img-responsive(src="./images/moviePoster8.jpg", style='width:100%', alt="Movie Poster #8")
            .panel-footer Daily Show Times 11:00am, 2:00pm, 6:00pm
      br
      .col-sm-4
        .panel.panel-primary
          .panel-heading Ocean's Eleven
            .panel-body
              img.img-responsive(src="./images/moviePoster9.jpg", style='width:100%', alt="Movie Poster #9")
            .panel-footer Daily Show Times: 12:00pm, 3:30pm, 7:00pm
 