extends layout

block content
  br
  br
  //- Movie List Summary Section
  .container
    .row
      h3.pl-3 Feature Films:
    .row
      .col-12.col-md-8
        .card.mt-2
          .card-body
            h4.card-title Viva Las Vegas
            .col-sm-8
              .panel.panel-primary
                //.panel-heading Anatomy Of A Murder
                .panel-body
                  img.img-responsive.img-rounded(src="./images/moviePoster1.jpg", style="width:75%", alt="Movie Poster #1")
            a.card-link.btn.btn-primary.float-right(href="/movies") Info
            br
            h6.card-subtitle.text-muted.pt-1.float-left Daily show times
        br
        .card.mt-2
          .card-body
            h4.card-title Paradise Canyon
            .col-sm-8
              .panel.panel-primary
                //.panel-heading Anatomy Of A Murder
                .panel-body
                  img.img-responsive.img-rounded(src="./images/moviePoster2.jpg", style="width:75%", alt="Movie Poster #1")
            a.card-link.btn.btn-primary.float-right(href="/movies") Info
            br
            h6.card-subtitle.text-muted.pt-1.float-left Daily show times
        br
        .card.mt-2
          .card-body
            h4.card-title Guys And Dolls
            .col-sm-8
              .panel.panel-primary
                //.panel-heading Anatomy Of A Murder
                .panel-body
                  img.img-responsive.img-rounded(src="./images/moviePoster3.jpg", style="width:75%", alt="Movie Poster #1")
            a.card-link.btn.btn-primary.float-right(href="/movies") Info
            br
            h6.card-subtitle.text-muted.pt-1.float-left Daily show times
        br
        .card.mt-2
          .card-body
            h4.card-title The Thing
            .col-sm-8
              .panel.panel-primary
                //.panel-heading Anatomy Of A Murder
                .panel-body
                  img.img-responsive.img-rounded(src="./images/moviePoster4.jpg", style="width:75%", alt="Movie Poster #1")
            a.card-link.btn.btn-primary.float-right(href="/movies") Info
            br
            h6.card-subtitle.text-muted.pt-1.float-left Daily show times
        br
        .card.mt-2
          .card-body
            h4.card-title Pirates Of Penzance
            .col-sm-8
              .panel.panel-primary
                //.panel-heading Anatomy Of A Murder
                .panel-body
                  img.img-responsive.img-rounded(src="./images/moviePoster5.jpg", style="width:75%", alt="Movie Poster #1")
            a.card-link.btn.btn-primary.float-right(href="/movies") Info
            br
            h6.card-subtitle.text-muted.pt-1.float-left Daily show times
        br
        .card.mt-2
          .card-body
            h4.card-title Dragstrip Riot
            .col-sm-8
              .panel.panel-primary
                //.panel-heading Anatomy Of A Murder
                .panel-body
                  img.img-responsive.img-rounded(src="./images/moviePoster6.jpg", style="width:75%", alt="Movie Poster #1")
            a.card-link.btn.btn-primary.float-right(href="/movies") Info
            br
            h6.card-subtitle.text-muted.pt-1.float-left Daily show times
        br
        .card.mt-2
          .card-body
            h4.card-title La Dolce Vita
            .col-sm-8
              .panel.panel-primary
                //.panel-heading Anatomy Of A Murder
                .panel-body
                  img.img-responsive.img-rounded(src="./images/moviePoster7.jpg", style="width:75%", alt="Movie Poster #1")
            a.card-link.btn.btn-primary.float-right(href="/movies") Info
            br
            h6.card-subtitle.text-muted.pt-1.float-left Daily show times
        br
        .card.mt-2
          .card-body
            h4.card-title Vertigo
            .col-sm-8
              .panel.panel-primary
                //.panel-heading Anatomy Of A Murder
                .panel-body
                  img.img-responsive.img-rounded(src="./images/moviePoster8.jpg", style="width:75%", alt="Movie Poster #1")
            a.card-link.btn.btn-primary.float-right(href="/movies") Info
            br
            h6.card-subtitle.text-muted.pt-1.float-left Daily show times
        br
        .card.mt-2
          .card-body
            h4.card-title Ocean's Eleven
            .col-sm-8
              .panel.panel-primary
                //.panel-heading Anatomy Of A Murder
                .panel-body
                  img.img-responsive.img-rounded(src="./images/moviePoster9.jpg", style="width:75%", alt="Movie Poster #1")
            a.card-link.btn.btn-primary.float-right(href="/movies") Info
            br
            h6.card-subtitle.text-muted.pt-1.float-left Daily show times
  br
  br
//-
   .row
    .col-12-.col-md-8
      p Movies List Area
    
      
  .card-mt-2
    .card-body
      h1.card-title Anatomy Of A murder
      h6.card-subtitle.text-muted.pt-1.float-left Daily Show Times
      a.card-link.btn.btn-primary.float-right(href"/movies") Info
    .card-mt-2
      .card-body
        h1.card-title Destination Moon
        h6.card-subtitle.text-muted.pt-1.float-left Daily Show Times
        a.card-link.btn.btn-primary.float-right(href"/movies") Info
    .card-mt-2
      .card-body
        h1.card-title Dr. Cyclops
        h6.card-subtitle.text-muted.pt-1.float-left Daily Show Times
        a.card-link.btn.btn-primary.float-right(href"/movies") Info
    
    .col-12-.col-md-4
      p SideBar
    .col-12.col-md-4
      p.lead.p1-4.pt-5.af-header-font.af-sb-color Atomic Films offers the best 'blast from the past' movie experience, with the classics that have stood the test of time. Sit back, enjoy some popcorn, and relive the cinematic greats.
    
  
  //-
    .container
    //- Background image
    img.responsive(src="./images/fullTheatre.jpg" alt="Full Theatre" width="100%" height="100%")
    h2.text-left Feature Films
    
  //- Feature Films Carousel
    #movieCarousel.carousel.slide.bg-inverse.w-50.ml-auto.mr-auto(data-ride="carousel")
      ol.carousel-indicators
        li.active(data-target="#movieCarousel", data-slide-to="0")
        li(data-target="#movieCarousel", data-slide-to="1")
        li(data-target="#movieCarousel", data-slide-to="2")
      .carousel-inner(role="listbox")
        .carousel-item.active
          img.d-block.w-100(src="./images/moviePoster1.jpg" alt="Movie Poster #1")
        .carousel-item
          img.d-block.w-100(src="./images/moviePoster2.jpg" alt="Movie Poster #2")
        .carousel-item
          img.d-block.w-100(src="./images/moviePoster3.jpg" alt="Movie Poster #3")
      a.carousel-control-prev(href='#movieCarousel', role='button', data-slide='prev')
        span.carousel-control-prev-icon(aria-hidden='true')
        span.sr-only Previous
      a.carousel-control-next(href='#movieCarousel', role='button', data-slide='next')
        span.carousel-control-next-icon(aria-hidden="false")
        span.sr-only Next
  //
   