extends layout

block content
  section.jumbotron.text-center
    .container
      h1.jumbotron-heading-text= pageHeader.heading
      br
      br
      p.lead.text-white= pageHeader.tagline
    .card
      .card-body.bg-dark
        h4.card-title-text.pb-5.text-justify= pageHeader.acknowledge
    br
    br
