extends layout

block content
  section.jumbotron.text-center.bg-dark
    .container
      h1.af-pageTitle-font= pageTitle
      br
      p.lead.text-justify.text-light.text-center= pageHeader.message
    //.card
      //.card-body.bg-dark
        //h4.card-title-text.pb-5.text-justify
    br
    br
