extends layout

block content
  section.jumbotron.text-center.bg-success
    .container
      h1.jumbotron-heading-text= pageTitle
      br
      p.lead.text-justify= pageHeader.message
    //.card
      //.card-body.bg-dark
        //h4.card-title-text.pb-5.text-justify
    br
    br
